# Pandas (1)

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv('sp500hst.txt', sep=',', header=None, 
                   names=["date", "ticker", "open", "high", "low", "close", "volume"])
df.head()

       date ticker   open     high     low  close  volume
0  20090821      A  25.60  25.6100  25.220  25.55   34758
1  20090824      A  25.64  25.7400  25.330  25.50   22247
2  20090825      A  25.50  25.7000  25.225  25.34   30891
3  20090826      A  25.32  25.6425  25.145  25.48   33334
4  20090827      A  25.50  25.5700  25.230  25.54   70176

In [3]:
df.dtypes

date        int64
ticker     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object

In [4]:
df['date']

0         20090821
1         20090824
2         20090825
3         20090826
4         20090827
            ...
122569    20100813
122570    20100816
122571    20100817
122572    20100819
122573    20100820
Name: date, Length: 122574, dtype: int64

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [ ]:
df.head(2)

       date ticker   open   high    low  close  volume
0  20090821      A  25.60  25.61  25.22  25.55   34758
1  20090824      A  25.64  25.74  25.33  25.50   22247

In [ ]:
df.iloc[:, 3:7].mean()

high         43.102243
low          42.054464
close        42.601865
volume    81395.068138
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [ ]:
pd.to_datetime(df['date'])

0        1970-01-01 00:00:00.020090821
1        1970-01-01 00:00:00.020090824
2        1970-01-01 00:00:00.020090825
3        1970-01-01 00:00:00.020090826
4        1970-01-01 00:00:00.020090827
                      ...
122569   1970-01-01 00:00:00.020100813
122570   1970-01-01 00:00:00.020100816
122571   1970-01-01 00:00:00.020100817
122572   1970-01-01 00:00:00.020100819
122573   1970-01-01 00:00:00.020100820
Name: date, Length: 122574, dtype: datetime64[ns]

In [ ]:
pd.to_datetime(df['date'], format='%Y%m%d')

0        2009-08-21
1        2009-08-24
2        2009-08-25
3        2009-08-26
4        2009-08-27
            ...
122569   2010-08-13
122570   2010-08-16
122571   2010-08-17
122572   2010-08-19
122573   2010-08-20
Name: date, Length: 122574, dtype: datetime64[ns]

In [ ]:
df['date_as_dt'] = pd.to_datetime(df['date'], format='%Y%m%d')
df.head()

       date ticker   open     high     low  close  volume date_as_dt
0  20090821      A  25.60  25.6100  25.220  25.55   34758 2009-08-21
1  20090824      A  25.64  25.7400  25.330  25.50   22247 2009-08-24
2  20090825      A  25.50  25.7000  25.225  25.34   30891 2009-08-25
3  20090826      A  25.32  25.6425  25.145  25.48   33334 2009-08-26
4  20090827      A  25.50  25.5700  25.230  25.54   70176 2009-08-27

In [ ]:
df['date_as_dt'].dt.month

0         8
1         8
2         8
3         8
4         8
         ..
122569    8
122570    8
122571    8
122572    8
122573    8
Name: date_as_dt, Length: 122574, dtype: int64

## Лабораторная работа №2.1

### Базовые операции с `DataFrame`

In [1]:
import pandas as pd

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [7]:
recipes = pd.read_csv('recipes_sample.csv', sep=',')

reviews = pd.read_csv('reviews_sample.csv', sep=',')

reviews.rename(columns = {'Unnamed: 0' : 'index'}, inplace = True)
reviews.head()

,index,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [ ]:
reviews.shape[0]

126696

In [ ]:
reviews.shape[1]

6

In [ ]:
reviews.dtypes

index         int64
user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

In [ ]:
recipes.shape[0]

30000

In [ ]:
recipes.shape[1]

8

In [ ]:
recipes.dtypes

name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
recipes.isnull().sum()/recipes.shape[0]*100

name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64

In [ ]:
reviews.isnull().sum()/reviews.shape[0]*100

index        0.000000
user_id      0.000000
recipe_id    0.000000
date         0.000000
rating       0.000000
review       0.013418
dtype: float64

1.4 Рассчитайте и выведите на экран среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
recipes.head(2)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN

In [ ]:
recipes.iloc[:, 2].mean()

123.35813333333333

In [ ]:
recipes.iloc[:, 5].mean()

9.805582137161085

In [ ]:
recipes.iloc[:, -1].mean()

9.008285984848484

In [ ]:
reviews.head(2)

,index,user_id,recipe_id,date,rating,review
0,370476,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...

In [ ]:
reviews['rating'].mean()

4.410802235271832

1.5 Создайте и выведите на экран серию из 10 случайных названий рецептов.

In [38]:
rec = recipes['name'].sample(10)
rec

820                   apple blossom coffee cake
12914          grilled indonesian chicken satay
8949                 cure my cold  chicken soup
16777                make a meal of it meatloaf
18256       multi grain hot cereal  slow cooker
10643                        everything cookies
12867    grilled corn  avocado and tomato salad
8707       crock pot southwest chicken and rice
19682                           packed pancakes
23406                     saucy stir fried pork
Name: name, dtype: object

1.6 Выведите на экран строку с __номером__ `54200`. Выведите на экран строку с __индексом__ `54200`.

In [20]:
reviews.loc[54200]

index                                                   667742
user_id                                                 813584
recipe_id                                                  916
date                                                2008-08-16
rating                                                       5
review       I've made this 3-4 times already and forgot to...
Name: 54200, dtype: object

In [19]:
reviews.iloc[54200]

index                                                   667742
user_id                                                 813584
recipe_id                                                  916
date                                                2008-08-16
rating                                                       5
review       I've made this 3-4 times already and forgot to...
Name: 54200, dtype: object

1.7 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [22]:
import numpy as np

In [28]:
reviews.index

RangeIndex(start=0, stop=126696, step=1)

In [36]:
reviews['index'] = np.arange(0,126696)
reviews.head()

,index,user_id,recipe_id,date,rating,review
0,0,21752,57993,2003-05-01,5,Last week whole sides of frozen salmon fillet ...
1,1,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,2,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,3,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,4,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...

1.8 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [34]:
recipes[(recipes['minutes'] <= 20) & (recipes['n_ingredients'] <= 5) ]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [40]:
import numpy as np

In [45]:
recipes.index

RangeIndex(start=0, stop=30000, step=1)

In [41]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

In [66]:
recipes = pd.read_csv('recipes_sample.csv', sep=',', parse_dates= [4])
recipes.dtypes

name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [52]:
recipes[recipes['submitted'] <= '01-01-2010']

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [67]:
recipes['description_length'] = recipes['description'].apply(lambda i: len(str(i)))
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [68]:
recipes['name'] = recipes['name'].apply(lambda i: str(i).lower())
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [71]:
import re
recipes['name_word_count'] = recipes['name'].apply(lambda i: len(re.findall('\w+', i)))
recipes.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330,8
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255,5
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39,7
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154,3
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587,8